<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ asset('bundles/blog/css/style.css') }}">
    <title>Un Billet pour l'Alaska</title>
</head>
<body>

<header>
    <img src="{{ asset('bundles/blog/img/banniere.jpg') }}" alt="banner" class="full">

</header>